/* base styles, feel free to edit */
:root {
  --reddit-blue: #0079D3;
  --reddit-orange: #FF5700;
  --reddit-grey: rgba(0, 0, 0, 0.0975);
  --reddit-light-grey:  rgba(0, 0, 0, 0.041);
  --reddit-bg-color: #f1f1f7;
  --body-text-size: 12px;
  --alt-text-color:  rgba(0, 0, 0, 0.65);
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--reddit-bg-color);
  height: 100%;
  font-family: -apple-system, 'Open Sans', 'Helvetica Neue', sans-serif;
}

footer {
  border-top: 1px solid var(--reddit-grey);
  padding: 10px;
  background-color: white;
  min-height: 50px;
  text-align: right;
}

.alt-text {
  color: var(--alt-text-color);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  min-height: 50px;
  border-bottom: 1px solid var(--reddit-grey);
}

#logo {
  color: white;
  font-size: var(--body-text-size);
  width: 40px;
  height: 40px;
  background-color: var(--reddit-orange);
  border-radius: 50%;
}

#search {
  background-color: var(--reddit-bg-color);
  font: inherit;
  font-size: var(--body-text-size);
  border: none;
  padding: 7.5px 15px;
  outline: none;
  border: 1px solid var(--reddit-grey);
  border-radius: 4px;
}

#search::placeholder {
  letter-spacing: 0.5px;
  font-size: var(--body-text-size);
}

#search:focus {
  background-color: white;
  border-color: var(--reddit-blue);
}

.button {
  border: 1px solid var(--reddit-blue);
  border-radius: 4px;
  text-transform: uppercase;
  padding: 7.5px 15px;
  font-weight: bold;
}

.button-primary {
  color: var(--reddit-blue);
}

.button-secondary {
  background-color: var(--reddit-blue);
  color: white;
}

.nav {
  list-style-type: none;
  padding: 0;
}

.nav-item {
  margin: auto;
  padding: 5px;
  display: inline;
  list-style-type: none;
}


#feed {
  min-width: 500px;
  max-width: 800px;
  width: 80%;
  margin: 20px auto;
  padding: 0;
}
.post {
    max-width: 640px;
    overflow: hidden;
    margin: 30px auto;
    background-color: white;
    border: 1px solid rgba(0,0,0,.0975);
}

.feed-header {
  display: flex;
  justify-content: space-between;
}

.feed-title {
  font-weight: normal;
  margin: 0;
}

/* Add your styles here */

.logout-button-class {
    border: 1px solid var(--reddit-blue);
    border-radius: 4px;
    text-transform: uppercase;
    padding: 7.5px 15px;
    font-weight: bold;
    color: #f44336;
    display: inline;
}


form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password]
{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.signup-input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}
.submtn {
  width: auto;
  padding: 10px 18px;
  background-color: #0079D3;
}

.formloc {   
    background-color: #fff;
    left: 50%;
    margin: -高/2 0 0 -宽/2;
    position: fixed;
    top: 50%;
    width: 300px;
    height: 300px;
    z-index: 25;
}

.post-time {
   display: inline;
    padding: 10px 40px;
    margin: 0 auto;
    font-size: 12px;
    font-family: Helvetica;
    color: darkolivegreen;
}


.post {
    max-width: 640px;
    margin: 40px auto;
    background-color: white;
    border: 1px solid rgba(0,0,0,.0975);
}

.post-front-title {
    padding: 20px 40px;
    margin: 0;
    border-bottom: 1px solid rgba(0,0,0,.0975);
}


.post-by{
  font-size: 15px;
}

.post-subseddit{
  font-size: 20px;

}
.post-image {
  
 clear: both;
 display: block;
 float: right;
 /* margin:auto; */
}

.post-upvote{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.post-button {
    display: inline;
    max-width: 40px;
    max-height: 40px;
    padding: 10px 27px;
    margin: 0 auto;
}

.post-padding {
    display: block;
    padding: 3px;
    margin: 0 auto;
}

.post_count_num {
    display: inline;
    padding: 8px 38px;
    margin: 0 auto;
    font-size: 20px;
    font-family: Helvetica;
    color: goldenrod;
}

.post-title{
  font: caption;
  padding: 20px,40px;
  font-size: 25px;
  font-weight: bold;
  padding: 15px;
  margin: 0%;
  border-bottom: 1px solid rgba(0,0,0,.0975);
}

.post-content{
  font: caption;
  padding: 20px,40px;
  font-size: 20px;
  padding: 30px;
  margin: 0%;
  border-bottom: 1px solid rgba(0,0,0,.0975);
}